@import "base/listas";
@import "base/mixin";
@import "base/extend";

body{
    background-color: nth($colores, 2);
    header{
        nav{
            div {
                .logo{
                font-size: 2em;
                }
            }
            div{
                div {
                    ul{
                        li a{
                        color: nth($colores, 3);
                        font-size: 1.2em;
                        text-decoration:    none;
                        }
                    }
                }
            }    
        }
    }
    main{
        h1{
            color: nth($colores, 3);
            text-align: center;
            margin: 1em;
        }
        .parrafo{
            color: nth($colores, 3);
            font-size: 1em;
            text-align: center;
            margin: 1em;
        }
        .carrusel{
            height: 30em;
            width: 98%;
            max-width: 800px;
            margin: 2em;
        }
        .carrusel img{
            height: 30em;
            width: 90%;
            max-width: 800px;
            object-fit: cover;
        }
    }
    footer{
        height: 4em;
        background-color: nth($colores, 1);
        .iconos{
            font-size: 1.5em;
            text-align: center;
        }
        .iconos a{   
            margin-top: 2em;
            color: nth($colores, 3);
        }
        .home{
            margin-left: 1em;
        }
        .home a{
            color: nth($colores, 3);
        }
    }
}
/* shows */
.show{
    main{
        h1{
            color: nth($colores, 3);
            text-align: center;
            font-size: 2em;
            text-decoration: none;
            margin: 0.5em 0em;
        }
        .parrafo2{
            background: url(../img/Calvin-Harris-Photo-by-Al-Powers.jpg.crdownload);
            background-color: rgba(0, 0, 0, 0.505);
            background-blend-mode: soft-light;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            color: nth($colores, 3);
            font-size: 1em;
            margin: 2em;
            padding: 1.5em;
        }
        .parrafo2 a{
            @include box-model;
        }
        .parrafo3{
            color: nth($colores, 3);
            font-size: 1em;
            text-align: center;
            margin: 1em 3em;
        }
    }
}
/* discografia */
.discografia h1{
    color: nth($colores, 3);
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}
.discografia .parrafo4{
    color: nth($colores, 3);
    text-align: center;
    font-size: 1em;
}

.Musica{
    @extend %grid;
}


/* simples */
.Simples{
    @extend %simples;
}
.container section{
    margin-top: 1em;
    text-align: center;
}
.container section p{
    color: nth($colores, 3);
    font-size: 1em;
}
.container section h1{
    color: nth($colores, 3);
    font-size: 2em;
}

/* contacto */
.contacto{
    display: flex;
    justify-content: center;
    justify-items: center;
    @extend %contacto;
}
.row h1{
    color: nth($colores, 3);
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}
.contacto .parrafo5{
    color: nth($colores, 3);
    text-align: center;
    margin: 1em 3em;
    font-size: 1.6em;
}


@media (min-width: 768px) and (max-width: 1218px){

    .parrafo{
        color: nth($colores, 3);
        font-size: 1em;
    }

    .parrafo2{
        background: url(../img/Calvin-Harris-Photo-by-Al-Powers.jpg.crdownload);
        background-color: rgba(0, 0, 0, 0.401);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        color: nth($colores, 3);
        font-size: 0.7em;
        margin: 1em;
    } 
    footer{
        margin-top: 5em;
    }
    .Musica{
        margin: 2em;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "img2 img3"
        "img4 img5"
        "img6 .";
    }    
    
    .Simples{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
    }
    .contacto{
        display: flex;
        flex-direction: column;
    }
    .contacto .parrafo5{
        color: nth($colores, 3);
        text-align: center;
        margin: 1em 3em;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 767px){
    .parrafo2{
        background: url(../img/Calvin-Harris-Photo-by-Al-Powers.jpg.crdownload);
        background-color: rgba(0, 0, 0, 0.401);
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        color: nth($colores, 3);
        font-size: 0.3em;
        margin: 1.2em;
    }
    .Musica{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2em;
    }
    main .simples{
        margin: 0em;
    }
    .Simples{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contacto{
        display: flex;
        flex-direction: column;
    }
    .contacto .parrafo5{
        color: nth($colores, 3);
        text-align: center;
        margin: 1em 3em;
        font-size: 1em;
    }
}