
@mixin box-model {
    background-color: nth($colores, 4);
            border-radius: 0.2em;
            border-style: groove;
            text-decoration: none;
            color: nth($colores, 3);
            padding: 0.2em;
            margin: 0.5em;
}
@mixin box-model-contacto {
    
}